---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <main class="flex flex-col items-center justify-start min-h-screen pt-24 bg-background text-text">
    <h1 class="text-4xl md:text-5xl font-bold mb-8 text-primary">Sobre mí</h1>
    <section class="max-w-xl w-full text-lg leading-relaxed bg-secondary p-8 rounded-2xl shadow-lg">
    </section>
  </main>
</Layout>
